<div class="row" style="overflow: hidden;">
  <div class="col-2 p-0 ps-1">
    <nav class="navbar">
      <ul class="navbar-menu" [hidden]="!exibindoMenu">
        <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="usuario.isRecepcionista()">
          <a routerLink="/escritorio-advocacia/dashboard">Dashboard</a>
        </li>
        <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="usuario.isRecepcionista()">
          <a routerLink="/escritorio-advocacia/clientes">Clientes</a>
        </li>
        <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="usuario.isAdministrador()">
          <a routerLink="/escritorio-advocacia/funcionarios">Funcionários</a>
        </li>
        <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="usuario.isOperacional()">
          <a routerLink="/escritorio-advocacia/atendimentos">Atendimentos</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-10 pl-0 pt-0">
    <router-outlet></router-outlet>
  </div>
</div>
